/* start varibales */
:root {
    --main-color: #06a6d0;
    --second-color: rgb(15 116 143 / 70%);
    --main-padding: 100px;
}

/* End varibales */

/* Start glopal title */

.heading {
    margin-top: 90px;
    margin-bottom: 90px;
    text-align: center;

}

.heading h3 {
    font-weight: normal;
    font-size: 40px;
    text-transform: uppercase;

}

.heading p {
    max-width: 531px;
    color: #bbb7b9;
    text-align: center;
    line-height: 1.6;
    margin: auto;
    padding: 15px;

}

.heading hr {
    width: 96px;
    color: #333;
    margin: auto;
    display: inline-block;
    position: relative;
}


.heading hr::after {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid #333 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 2;
}







/* End glopal title */


/* Start glopal rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;

    /* background-color: white; */
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}


/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large screen */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

html,
body {
    overflow-x: hidden;
}

/* End glopal rules */

/* Srart header */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 86px;
}


header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    left: 15px;

    width: calc(100% - 30px);
    background-color: #a2a2a2;
    bottom: 0;
}

header .img img {
    height: 40px;
}


header .links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

header ul {
    display: flex;
}

header ul li a {
    display: inline-block;
    transition: .3s;
    z-index: 2;
    position: relative;
    color: white;
    text-decoration: none;
    padding: 33px 10px;
}



header .icon i {
    color: white;
    padding-right: 15px;
}

header .icon {
    position: relative;
}



header ul li:first-child a,
header ul li a:hover {
    color: var(--main-color);

    border-bottom: solid var(--main-color) 1px;

}

header .icon {
    position: relative;
    width: 40px;
    height: 30px;
    margin-left: 40px;
    border-left: solid #a2a2a2 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .icon i {

    display: inline-block;
    padding: 30px;
}

@media (max-width: 768px) {
    header ul li a {
        display: none;
    }

    header .links .toggle-menu:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: black;
    }

}

header .links .toggle-menu {
    font-size: 20px;
    color: white;
    padding: 33px 10px;


}

@media (min-width: 768px) {
    header .links .toggle-menu {
        display: none;
    }

}




/* End header */
/* start landing */
.overway {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0 0 0 / 60%);
}

.landing {
    padding-top: 80px;
    position: static;

}

.parent {
    width: 100%;
    height: 100vh;
    background-image: url(../images/landing.jpg);
    background-size: cover;
    background-color: #1f2021;
    background-repeat: no-repeat;
    background-position: left;

}



.landing .text h1:first-child {
    margin: 0;
}

.landing .text h1:nth-child(2) {
    margin-top: 0;
}

.landing .text h1 {
    font-weight: normal;
}


.landing .text {
    min-width: 332px;
    background-color: var(--second-color);
    position: absolute;
    left: 0;
    top: 30%;
    color: white;
    display: flex;
    justify-content: flex-end;

}

.landing .text .content {
    padding: 40px 40px 40px 80px;
    max-width: 600px;

}

.landing .text .content p {
    max-width: 559px;
    line-height: 2;
}

.landing .text .content h1 {
    line-height: 1.6;
    font-weight: normal;
}

@media (max-width:767px) {
    .landing .text {
        min-width: 100%;
        flex-direction: column;

    }

    .landing .text .content {
        padding: 40px;


    }
}

.landing .angle i {
    color: white;
    font-size: 30px;
    position: absolute;

}

.landing .angle i:first-child {
    position: absolute;
    left: 20px;
    top: 50%;
}

.landing .angle i:nth-child(2) {
    position: absolute;
    right: 20px;
    top: 50%;
}

@media (max-width:767px) {
    .landing .angle {
        display: none;
    }
}

.landing .points {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 15px;
}

.landing .points span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 1px white;

    margin-left: 10px;

}

.landing .points span:nth-child(2) {
    background-color: var(--main-color);
}

/* End landing  */

/* start services */
.services {
    padding-top: 200px;
    padding-bottom: 130px;
}

@media (min-width:767px) {
    .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 60px;
        position: relative;
    }



}


.services-container .srv-box {
    display: flex;
    max-width: 100%;

}

@media (max-width:767px) {
    .services-container .srv-box {
        flex-direction: column;
        text-align: center;
    }

    .services-container .srv-box i {
        display: block;
        position: absolute;
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .services-container .srv-box .text {
        padding: 30px;

    }



}

.services-container .srv-box .text {
    /* padding: 0 20px 0 40px; */
    line-height: 1.6;
}



.services-container .srv-box .text p {
    color: #c0bcbd;
}

.services-container .srv-box .text h3 {
    color: var(--main-color);
    margin-bottom: 30px;
}


.services-container .srv-box i {
    display: block;
    font-size: 40px;
    align-self: flex-start;
    margin-right: 50px;
}



@media (max-width: 768px) {
    .services {
        margin-top: 300px;
    }

    .services-container .srv-box i {
        text-align: center;
    }

    .services-container .srv-box .text h3 {
        padding: 20px;
    }
}


@media (min-width: 1200px) {
    .services {
        padding-top: 100px;

    }


}

/* End services */
/* Start design  */
.design {
    margin-top: 150px;
    margin-bottom: 93px;
    background-image: url(../images/design-features.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    max-width: 100%;
    height: 503px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

}

@media (max-width:767px) {
    .design {
        margin-top: 379px;
    }
}

.design::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 503px;
    background-color: rgb(0 0 0 / 60%);


}


.design .text {
    position: absolute;
    right: -40px;
    top: 30%;
    transform: translateY(-50px);
    background-color: var(--second-color);
    width: 663px;
    min-height: 200px;
    color: white;
}

.design .text .main-text {
    padding: 40px;
    line-height: 2;
}

.design .text .main-text h3 {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: normal;
}

.design .text .main-text ul li {
    padding: 5px;
}

.design .img {
    position: relative;
    right: -68px;
    top: 77px;

}

.design .text .main-text ul li::before {
    font-family: 'Font Awesome 5 free';
    content: '\f390';
    font-weight: 900;
    margin-right: 10px;
    position: relative;
    top: 1px;
}

@media (max-width:1200px) {
    .design .img {
        display: none;
    }

    .design .text {
        width: 100%;
        position: absolute;
        right: 0;
        top: 20%;
    }
}

/* End design  */
/* Start Portfolio */
.Portfolio {
    margin-top: 90px;
    margin-bottom: 60px;
}

.Portfolio .works {
    display: flex;
    justify-content: center;
}

.Portfolio .works span,
.Portfolio .works button {
    margin-right: 33px;
    display: inline-block;
}

.Portfolio .works button:first-child {
    background-color: var(--main-color);
    color: white;
    width: 64px;
    height: 30px;
    border: none;
    cursor: text;
}

.Portfolio .images {
    margin-top: 70px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;

}

.Portfolio .images .box {
    max-width: 316px;
    overflow: hidden;
    margin: 0;
    position: relative;

}

.Portfolio .images {
    max-width: 100%;
}


@media (max-width:1150px) {
    .Portfolio .images .box {
        max-width: 50%;
    }


}

@media (max-width:768px) {
    .Portfolio .images .box {
        max-width: 100%;
    }


}


.Portfolio .images .box img {
    max-width: 100%;
}



.Portfolio .images .box .text {
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: .3s;
    background-color: white;
    width: 100%;
    padding: 20px;
}

.Portfolio .images .box:hover .text {
    z-index: 20;
    bottom: 0;

}

.Portfolio .images .box:hover img {
    transform: rotate(3deg) scale(1.1);
}

.Portfolio .images .box img {
    transition: .3s;

}


.Portfolio .box .text p {
    padding: 5px;

}

.Portfolio .box .text p:nth-child(2) {
    color: var(--main-color);
}

.Portfolio .container button {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--main-color);
    padding: 15px;
    color: white;
    border: none;
    cursor: pointer;
}

.Portfolio .video {
    margin-top: 100px;
    position: relative;
}

.Portfolio .video video {
    display: block;
    width: 100%;
    height: 617px;
    object-fit: cover;
    position: relative;
}



@media (min-width:767px) {
    .Portfolio .video video {
        display: block;
        max-width: 100%;
        height: 617px;
    }

    .Portfolio .video .text {
        width: 100%;
        height: 100%;
        top: 0;
    }
}

.Portfolio .video .text {
    text-align: center;
    background-color: var(--second-color);
    width: 100%;
    height: 261px;
    position: absolute;
    top: 30%;
    color: white;

}

.Portfolio .video .text h4 {
    font-size: 30px;
    font-weight: normal;
    margin: 40px auto;
    text-transform: uppercase;

}

.Portfolio .video .text p {
    margin: 40px auto;

}

.Portfolio .video .text button {
    background-color: black;
    color: white;
    padding: 15px 20px 15px 17px;
    border: none;
}



/* End Portfolio */
/* start about us  */
.about {
    padding-top: 100px;

}

.about .about-design .img {
    position: relative;
    top: -238px;
    text-align: center;
    z-index: -20;
    margin-top: 120px;
}

.about .about-design .img img {
    max-width: 100%;
}

@media (max-width:767px) {
    .about .about-design .img {
        top: -135px;
        margin-top: -32px;
    }
}


.about-design {
    background-image: url(../images/stats.png);
    text-align: center;
    background-size: cover;
    position: relative;
}

.about-design::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
    z-index: 0;
}

.about .about-design .container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--second-color);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    overflow: hidden;
}

@media (max-width:767px) {
    .about .about-design .container {
        position: relative;
        height: auto;
        width: 100%;
        transform: none;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: var(--second-color);
        left: -1px;
        bottom: 71px;
    }


}


.about .about-design .container .box {
    color: white;
    padding: 20px;
}

.about .about-design .container .box h4 {
    font-size: 40px;
    margin: 0 0 12px;
}

.about .about-design .container .box i {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
    margin: 0 auto 40px;
}

/* End desing about */
/* start test  */
.our-skills {
    padding-top: 200px;
}

.test {
    padding-top: 141px;
    position: relative;
}

.our-skills .test .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* helps for smaller screens */
    text-align: center;
}

.our-skills .test .card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* display: inline;
    position: relative;
    bottom: 8px;
    right: 29px; */
}

@media (max-width:767px) {
    .our-skills {
        display: block;
    }

    .our-skills .test,
    .our-skills .skills {
        width: 100%;
    }
}

.our-skills .test .card .text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 21px;
}


.our-skills .test .card .text p {
    color: #333;
    position: relative;
    top: 38px;
    right: 44px;
}


@media (max-width: 767px) {
    .our-skills .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .our-skills .test,
    .our-skills .skills {
        width: 100%;
    }

    .our-skills {
        padding-top: 10px;
    }


    .our-skills .test .card .text {
        text-align: center;
    }

    .skills .heading {
        position: relative;
        right: 29px;
    }
}

.our-skills .points {
    bottom: -42px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.our-skills .points span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid .5px #333;
    margin-left: 10px;

}

.our-skills .points span:nth-child(2) {
    background-color: #06a6d0;
}

.our-skills .content .card img {
    display: block;
    margin: 10px;
}


/* End test  */
/* start skills  */
.our-skills .skills {
    margin-left: 50px;
    margin-top: 120px;
}

.bars .prog {
    background-color: #dedadc;
    height: 30px;
    position: relative;
}

.bars .prog span::before {
    content: attr(data-progress);
    background: black;
    color: wheat;
    position: absolute;
    top: -28px;
    right: -14px;
    border-radius: 5px;

}

.bars .prog span::after {
    content: "";
    position: absolute;
    border-color: black transparent transparent transparent;
    border-style: solid;
    border-width: 8px;
    right: -6px;
    top: -10px;
    z-index: -1;

}

@media(max-width:767px) {
    .prog {
        position: relative;
        left: -26px;
    }


}

.bars .prog span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
    z-index: 10;
    position: relative;
}

.bars>div {
    padding: 20px;
    padding-top: 0;
}

/* ENd skills  */
.drop {
    margin-top: 400px;
    background-image: url(../images/quote.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 2;
    color: white;

}

.drop q {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    z-index: 2000;
    margin-bottom: 0;
    max-width: 1000px;
    display: block;
    margin-bottom: 20px;
}

.drop::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
    z-index: 0;
}

.drop q,
.drop span {
    position: relative;
    z-index: 2000;
    display: block;
}

@media(max-width:767px) {
    .drop {
        margin-top: 1533px;
    }
}

/* ENd drop  */
/* start pricing */
.pricing {
    padding-bottom: var(--main-padding);
}

.pricing .container {
    display: block;
}

.pricing .prices {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.pricing .prices .box {
    text-align: center;
    max-width: 170px;
    background-color: #fcfcfc;
}

.pricing .prices .box .head {
    padding-top: 50px;
    padding-bottom: 50px;
    border: solid 2px var(--main-color);
    border-right: transparent;
    border-left: transparent;


}

.pricing .prices .box .head .num {
    font-size: 60px;
    font-weight: bold;
    margin-top: 20px;
    position: relative;
}

.pricing .prices .box .head .num::before {
    content: "$";
    position: absolute;
    font-size: 25px;
    left: -15px;
    top: -5px;

}

.pricing .prices .box .head p {
    padding-bottom: 10px;
}

.pricing .prices .box p:not(:first-child) {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: solid 2px var(--main-color);
    max-width: 100px;
    position: relative;
    left: 37px;
}

.pricing .prices .box p:nth-child(5) {
    max-width: 170px;
    position: relative;
    left: 6px;
}

.pricing .prices .box a {
    text-decoration: none;
    padding: 20px;
    border: solid var(--main-color) 2px;

}

.pricing .prices .box .foot {
    margin-top: 60px;
}

.pricing .contact {
    text-align: center;
    padding-top: 100px;

}

.pricing .contact p {
    font-size: 20px;
    padding-bottom: 10px;
    text-transform: lowercase;
}

.pricing .contact button {
    background-color: var(--main-color);
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;

}

@media (max-width:767px) {
    .pricing .prices .box {
        margin: auto;
    }

    .pricing .prices .box p:not(:first-child) {
        left: 4px;
    }
}


/* ENd pricing */
/* start email */
.email {
    margin-top: 1200px;
    margin-bottom: 200px;
    height: 450px;
    background-image: url(../images/subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;

}

.email .mail-hold {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


@media(min-width:1030px) {
    .email {
        margin-top: 600px;
    }
}

@media(max-width:574px) {
    .email {
        margin-top: 2031px;
    }
}

.email::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
    z-index: 0;
}

.email .mail-hold,
.email p {
    z-index: 2;
    position: relative;
}

@media (max-width:991px) {
    .email .mail-hold {
        flex-direction: column;
    }
}

.email form {
    margin: 40px;
    display: flex;
    position: relative;
    max-width: 100%;
    width: 500px;
}

.email form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 19px;
    font-size: 25px;
}

.email form input[type="email"] {
    padding: 20px 20px 20px 60px;
    background-color: transparent;
    color: white;
    border: solid white 1px;
    caret-color: var(--main-color);
    width: calc(100% - 130px);
    border-right: none;
}

.email form input[type="submit"] {
    width: 130px;
    background: var(--main-color);
    color: white;
    /* border: none; */
    padding: 10px 20px;
    border: 1px solid white;
    border-left: none;
}

.email form input[type="submit"],
.email form input[type="email"]:focus {
    outline: none;

}

.email form ::placeholder {
    color: white;
}

.email .mail-hold p {
    line-height: 2;
    padding: 20px;
}

@media (max-width:767px) {
    .mail-hold {
        padding: 20px;
    }
}

/* end email */
/* start contact */

.contact .container {
    display: block;
}

.contact .content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
}

.contact .content form {
    /* width: calc(100% - 350px); */
    flex-basis: 70%;
    max-width: 100%;
    position: relative;
}

.contact .container .main-inp {
    display: block;
    padding: 20px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 30px;
}

/* .contact .container .main-inp::placeholder {
    padding: 15px;
} */

.contact .container .main-inp:focus {
    outline: none;
}


.contact .content input[type="submit"] {
    position: absolute;
    right: 0px;
    padding: 20px;
    background: var(--main-color);
    color: white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.contact .container .main-inp:nth-child(3) {
    height: 200px;
}

.contact .content .info {
    flex-basis: 25%;
}

.contact .content .info h4 {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 30px;
    font-size: 18px;
}


.contact .content .info .address h4 {
    margin-top: 90px;
}

.contact .info .number span {
    display: block;
    color: #777;
}

.contact .info h4,
.contact .info span {
    font-weight: normal;
}

.contact .info .number span,
.contact .info address {
    color: #777;
}


.contact .content .info address {
    line-height: 2;
}

@media (max-width:767px) {
    .contact .content {
        flex-direction: column;
        flex-flow: column-reverse;
    }

    .contact .content .info {
        margin: auto;
        text-align: center;
    }

    .contact .content .info .address h4 {
        margin-top: 50px;
    }

    .contact .content .info .address {
        margin-bottom: 40px;
    }
}

/* ENd contact */
/* start footer  */
footer .container {
    display: block;

}

footer {
    margin-top: 500px;
    background-image: url(../images/subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width:767px) {
    footer {
        margin-top: 800px;
    }
}

footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
    z-index: 0;
}

footer .content {
    color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
}

footer .content .logo {
    margin-bottom: calc(115px/2);
}

footer .content p {
    padding-bottom: calc(32px / 2);
    font-size: 25px;
    border-bottom: solid white 1px;
    text-transform: uppercase;

}

footer .content .icons {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

footer .content div:last-child {
    margin-top: 30px;
}

footer .content div:last-child span {
    color: var(--main-color);
}

/* End footer  */